<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMDB Sentiment Analysis</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-900 text-gray-200 font-sans">
    <div class="container mx-auto p-8">
        <header class="flex justify-between items-center mb-8">
            <h1 class="text-4xl font-bold text-center">IMDB Sentiment Analysis</h1>
            <nav class="space-x-4">
                <a href="https://www.linkedin.com/in/obidur-rahman-shawal" target="_blank"
                    class="text-green-400 hover:text-green-500">LinkedIn</a>
                <a href="https://github.com/Ashfinn/" target="_blank"
                    class="text-green-400 hover:text-green-500">GitHub</a>
                <a href="../notebook.ipynb" target="_blank"
                    class="text-green-400 hover:text-green-500">Notebook</a>
            </nav>
        </header>
        <main>
            <section class="mb-8">
                <h2 class="text-2xl font-semibold text-center mb-4">About the Model</h2>
                <p class="text-center max-w-2xl mx-auto">This application uses a machine learning model to analyze the
                    sentiment of you Text.</p>
                <p class="text-center max-w-2xl mx-auto"> The model is trained on a dataset of movie reviews and can
                    predict whether a given review is <span style="color: greenyellow;">positive</span> or <span
                        style="color: red;">negative</span>.</p>
            </section>
            <section>
                <form action="/predict" method="post" class="bg-gray-800 p-6 rounded-lg shadow-lg">
                    <textarea name="review" rows="4"
                        class="w-full p-3 bg-gray-700 rounded-lg text-gray-200 border border-gray-600 focus:outline-none focus:ring-2 focus:ring-green-500"
                        placeholder="Enter your review..."></textarea>
                    <button type="submit"
                        class="mt-4 w-full py-2 bg-green-500 hover:bg-green-600 text-white font-semibold rounded-lg shadow-md transition-transform transform hover:scale-105">Analyze
                        Sentiment</button>
                </form>
                {% if prediction %}
                <div class="mt-8 bg-gray-800 p-6 rounded-lg shadow-lg transition-transform transform hover:scale-105">
                    <h2 class="text-xl font-semibold text-center">Sentiment: {{ prediction }}</h2>
                </div>
                {% endif %}
            </section>
        </main>
    </div>
</body>

</html>